<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AutoSaveFrequency" value="5" />
		<add key="AutoSaveEnabled" value="True" />
		<add key="BackupSaveFrequency" value="5" />
		<add key="BackupSaveEnabled" value="True" />
		<add key="SelectedIndex" value="0" />
		<add key="AllBusyUntitled" value="1" />
	</appSettings>
</configuration>