<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AutoSaveFrequency" value="1" />
		<add key="AutoSaveEnabled" value="True" />
		<add key="BackupSaveFrequency" value="1" />
		<add key="BackupSaveEnabled" value="True" />
		<add key="ColorTheme" value="White|Black" />
		<add key="AllBusyUntitled" value="1" />
		<add key="CompilerPath" value="" />
	</appSettings>
</configuration>